body {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  background-color: aliceblue;
  text-align: center;
  margin: 0;
}
p {
  margin-bottom: 5px;
}
.current-btn {
  text-align: center;
  box-sizing: border-box;
  border: 4px solid rgba(124, 180, 226, 0.507);
  border-radius: 100px;
  width: 100px;
  background-color: aliceblue;
  padding: 0;
  font-size: 12px;
  background-color: rgb(0, 207, 138);
  font-weight: bold;
  color: black;
}
.container {
  margin: 0 auto;
  padding: 50px;
  display: block;
  background-color: rgba(98, 188, 230, 0.404);
  border: 5px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  max-width: 65%;
}
.now-weather-wrapper {
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  text-align: left;
}
.col-2,
.col-4 {
  padding: 0;
}
.card {
  background-color: aliceblue;
  margin-bottom: 50px;
  border: 2px solid rgba(0, 107, 194, 0.7);
}
.row {
  max-width: 800px;
  margin: 0 auto;
}
.day {
  font-size: smaller;
  min-width: 220px;
  margin: 0 auto;
}
.day-name {
  font-weight: bold;
}
.fa-solid {
  padding-bottom: 10px;
}
.day-firstrow,
.day-secondrow {
  display: flex;
}
input[type="text"],
.btn[type="submit"] {
  text-align: center;
  box-sizing: border-box;
  border: 4px solid rgba(124, 180, 226, 0.507);
  border-radius: 100px;
  width: 75%;
  background-color: aliceblue;
  padding: 0;
}
.btn {
  max-width: 50px;
}
h1 {
  padding-top: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.current-data .temperature {
  font-size: 40px;
  display: inline;
}
.currentIcon {
  width: 200px;
}
.units {
  position: relative;
  font-size: 20px;
  top: -20px;
}
